.body{
    background-color: #EEF1FF;
}

#signinbutton{
    color: #EEF1FF;
    background-color: #007BFF;
	border-color: #007BFF;
}

#aboutSection{
    margin-top: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-image: -webkit-linear-gradient(270deg,rgba(160,195,210,1.00) 0%,#EEF1FF 0.83%,rgba(210,233,233,1.00) 61.35%,#EEF1FF 100%);
    background-image: -moz-linear-gradient(270deg,rgba(160,195,210,1.00) 0%,#EEF1FF 0.83%,rgba(210,233,233,1.00) 61.35%,#EEF1FF 100%);
    background-image: -o-linear-gradient(270deg,rgba(160,195,210,1.00) 0%,#EEF1FF 0.83%,rgba(210,233,233,1.00) 61.35%,#EEF1FF 100%);
    background-image: linear-gradient(180deg,rgba(160,195,210,1.00) 0%,#EEF1FF 0.83%,rgba(210,233,233,1.00) 61.35%,#EEF1FF 100%);
}